@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

/*ckeditor 설정*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}


/*----------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
strong {
    font-weight: bold;
}
i {
    font-style: italic;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 300px;
    background-color: #F5F5F5;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* button css reset */
button{
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}
/* input css reset */
input {
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    /* input의 테두리를 연하게 바꿈 */
    border: 1px solid gray;
}

/*a css reset*/
a {
    text-decoration: none; /* 링크 텍스트 밑줄 제거 */
    color: inherit; /* 링크 텍스트 색상을 부모 요소로부터 상속 */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/*font*/
html, body {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;

}

body * {
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

body *:lang(en) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-container {
    font-family: 'Lato';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    font-family: 'Lato';
    line-height: 1.6;
    word-break: break-word;
    min-height: 200px;
}

.editor-container_classic-editor .editor-container__editor {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media (max-width: 640px) {
    .ant-picker-input {
        font-size: 0.625rem;
    }
}

@media (min-width: 640px) and (max-width: 768px){
    .ant-picker-input {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    .ant-picker-input {
        font-size: 1rem;
    }
}